.header_parent{
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 4px solid var(--purple);
    width: 100%;
}
.logo{
    height: 70px;
    width: 470px;
}
.links{
    flex-basis: 30%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 17px;
}
.links a{
    color: var(--purple);
    text-decoration: none;
    font-weight: 900;
    /* letter-spacing: 3px; */
}
.links a:hover{
    cursor: pointer;
}