    /* Variables */
:root {
    --light_gray_type: rgb(235, 232, 228);
    --purple: rgb(110, 11, 163);
    --orange: #f48915;
    --dark_grey: #464D53;
    --gray: #9f9e9e;
    --planCard: linear-gradient(210.41deg, #4782b8 1.14%, #3e3e96 100.75%);
    --light_purple:  rgb(114, 67, 139);
    --services: rgb(194, 187, 175);
  }
  