button{
    background-color: var(--purple);
    color: var(--light_gray_type);
    padding: 10px 15px;
    box-shadow: none;
    font-weight: 800;
    letter-spacing: 2px;
    word-spacing: 6px;
}
button:hover{
    cursor:pointer;
    background-color: var(--gray);
    border: 6px solid var(--purple);
    color: black;
    box-shadow: 4px 3.5px 42px 1.5px var(--gray);
}
button:active{
    cursor:pointer;
    background-color: var(--purple);
}